.account-nav

	&__list
		list-style: none
		margin: 0

	&__item
		list-style: none
		width: 100%
		margin: 13px 0

		&-wrapper
			width: 100%
			padding: 23px 0px 23px 27%
			border-radius: 4px
			overflow: hidden
			background: #F1F1F1
			color: #000

			display: flex
			align-items: center

			&:hover
				color: #000

		&-ico
			fill: #000
			width: 18px
			height: 18px

		&-text
			margin-left: 15px

			> span
				&:first-child
					display: block
				&:last-child
					display: none

		&-num
			width: 25px
			height: 25px
			background: #01A2E8
			font-size: 11px
			font-weight: bold
			color: #fff
			margin-left: 15px
			border-radius: 50%

			display: flex
			justify-content: center
			align-items: center

		&_active
			.account-nav__item
				&-wrapper
					background: #01A2E8
					color: #fff

				&-ico
					fill: #fff

		&:first-child
			margin-top: 0

		&:last-child
			margin-bottom: 0


@media (max-width: 1100px)
	.account-nav
		margin-bottom: 58px

		&__list
			display: flex
		&__item
			max-width: 235px
			margin: 0 14px

			&-wrapper
				padding-left: 0
				padding-bottom: 21px
				padding-top: 21px
				display: flex
				align-items: center
				justify-content: center
				font-size: 16px

			&-ico
				width: 20px
				height: 20px

			&:first-child
				margin-left: 0
			&:last-child
				margin-right: 0

@media (max-width: 768px)
	.account-nav
		&__item
			margin: 0 9px

			&-ico
				width: 18px
				height: 18px

@media (max-width: 767px)
	.account-nav
		&__item
			position: relative
			margin: 0 7px

			&-wrapper
				border-radius: 3px
				flex-direction: column
				padding: 12px 0 8px

			&-text
				margin-left: 0
				margin-top: 8px
				font-size: 14px

				> span
					&:first-child
						display: none
					&:last-child
						display: block

			&-num
				position: absolute
				top: 4px
				right: 4px
