.btn
  &_radius
    width: 50px
    height: 50px
    border-radius: 50%

    display: flex
    justify-content: center
    align-items: center

    svg
      width: 9px
      height: 15px

    &_while
      background: #ffffff

      svg
        fill: #000

    &_black
      border: 1px solid #000000

      svg
        fill: #000000

      &.btn_disable
        border-color: #999999

        svg
          fill: #999999


    &_right

    &_left
