.btn
  &_radius
    width: 50px
    height: 50px
    border-radius: 50%

    display: flex
    justify-content: center
    align-items: center

    svg
      width: 9px
      height: 15px

    &_while
      background: #ffffff

      &.btn_disable
      &.swiper-button-disabled
        border: 1px solid #999999
        background: transparent

      svg
        fill: #000

    &_black
      border: 1px solid #000000

      svg
        fill: #000000

      &.btn_disable
        border-color: #999999

        svg
          fill: #999999


    &_right
      svg
        transform: rotate(180deg)

    &_left

  .btn-fill


.btn-while
  position: relative
  display: inline-block
  color: black
  background: white
  padding: 15px 30px
  border-radius: 4px
