.brands
  &__title
    border-bottom: 2px solid #D8D8D8
    text-transform: uppercase
    padding-right: 136px
    padding-bottom: 15px

  &__slider
    padding-bottom: 50px

    &-pagination
      bottom: 0px

      display: flex
      align-items: center
      justify-content: center

      .swiper-pagination-bullet
        background: #F1C8E0
        margin: 0 5px !important

      .swiper-pagination-bullet-active
        width: 10px
        height: 10px
        background: black

@media (max-width: 768px)
  .brands
    &__head
      margin-bottom: 40px
