script(src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js")
script(src="https://unpkg.com/swiper/js/swiper.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

each file, key in files.js
    script(src=script(file))
