link(rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css")
link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")

each file, key in files.sass
    link(href=style(file) rel="stylesheet")
