link(rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css")
link(rel="stylesheet" href="https://unpkg.com/swiper@6.0.0/swiper-bundle.min.css")
link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")

each file, key in files.sass
    link(href=style(file) rel="stylesheet")
