mixin accountNavSeller(active)
	.account-nav
		ul.account-nav__list
			li.account-nav__item( class=(active === 'products' ? 'account-nav__item_active' : '') )
				a(href="/account-seller-home.html").account-nav__item-wrapper
					svg.account-nav__item-ico
						use( xlink:href=sprite('account-list') )
					.account-nav__item-text
						span Мои товары
						span Товары

			li.account-nav__item( class=(active === 'orders' ? 'account-nav__item_active' : '') )
				a(href="/account-seller-orders.html").account-nav__item-wrapper
					svg.account-nav__item-ico
						use( xlink:href=sprite('account-bag') )
					.account-nav__item-text Заказы
					.account-nav__item-num 12

			li.account-nav__item( class=(active === 'data' ? 'account-nav__item_active' : '') )
				a(href="/account-seller-edit.html").account-nav__item-wrapper
					svg.account-nav__item-ico
						use( xlink:href=sprite('person') )
					.account-nav__item-text Мои данные


mixin accountNavBuyer(active)
	.account-nav
		ul.account-nav__list
			li.account-nav__item( class=(active === 'orders' ? 'account-nav__item_active' : '') )
				a(href="/account-buyer-orders.html").account-nav__item-wrapper
					svg.account-nav__item-ico
						use( xlink:href=sprite('account-bag') )
					.account-nav__item-text
						span Мои заказы
						span Заказы

			li.account-nav__item( class=(active === 'address' ? 'account-nav__item_active' : '') )
				a(href="/account-buyer-address.html").account-nav__item-wrapper
					svg.account-nav__item-ico
						use( xlink:href=sprite('account-address') )
					.account-nav__item-text
						span Мои адреса
						span Адреса

			li.account-nav__item( class=(active === 'data' ? 'account-nav__item_active' : '') )
				a(href="/account-buyer-edit.html").account-nav__item-wrapper
					svg.account-nav__item-ico
						use( xlink:href=sprite('person') )
					.account-nav__item-text Мои данные