extends layouts/default
include mixins/account-nav
include components/header

block title
	title Catalog

block header
	+header(false)

block content
	main.account-seller-home-page.account-layout#account-seller-products

		.container
			.row
				.col-12.col-md-3.account-layout__column

					+accountNavSeller('products')


				.col-12.col-md-9.account-layout__column

					.account-layout__head
						h1 Мои товары
						.account-layout__head-actions
							a(href="#").account-layout__head-action
								svg
									use( xlink:href=sprite('account-upload') )

							a(href="#").account-layout__head-action.account-layout__head-action_primary
								svg
									use( xlink:href=sprite('account-add') )
								span Добавить товар


					.account-layout__body

						.account-layout__buttons
							| <search @on-search="search" class="account-layout__search"></search>

							.account-layout__filters-btn.collapsed( data-toggle="collapse" data-target="#filters" )
								svg.tools__icon
									use(xlink:href=sprite('filter'))

								span.text-closed Фильтр
								span.text-opened Закрыть


						.account-layout__filters.collapse#filters
							.custom-filters__mobile-title.mobile-title.account-layout__filters-head
								| Фильтр
								svg.custom-filters__close( data-toggle="collapse" data-target="#filters" )
									use(xlink:href=sprite('close'))

							.account-layout__filters-wrapper
								.account-layout__filters-row
									| <selector-filter class="account-layout__filter" placeholder="Категория" type="category" :list="filters.category.arr" :value="filters.category.value" @select="onSelectFilter"></selector-filter>
									| <selector-filter class="account-layout__filter" placeholder="Бренды" type="brands" :list="filters.brands.arr" :value="filters.brands.value" @select="onSelectFilter"></selector-filter>
									| <selector-filter class="account-layout__filter" placeholder="Маркер" type="marker" :list="filters.marker.arr" :value="filters.marker.value" @select="onSelectFilter"></selector-filter>
									| <selector-filter class="account-layout__filter" placeholder="Статус" type="status" :list="filters.status.arr" :value="filters.status.value" @select="onSelectFilter"></selector-filter>

								.account-layout__filters-row
									.account-layout__filter-text
										| Найдено:
										span  5 товаров
									.btn.btn-outline.account-layout__filter-btn( @click="filter" ) Фильтровать

						.account-layout__table
							table.table
								tr.table__head
									th.table__col.table__head-col( style="width: 50px" )

										.custom-checkbox( :class="checkboxStyle" v-on:click="onSelectAll" )
											.custom-checkbox__box

									th.table__col.table__head-col( style="width: 74px" )
									th.table__col.table__head-col Наименование
									th.table__col.table__head-col.table__sort-col( v-on:click="onFilter('price')" )
										.table__sort
											| Цена
											span.table__sort-box( :class="sortStyle('price')" )
									th.table__col.table__head-col.table__sort-col.table__col-brand( v-on:click="onFilter('brand')" )
										.table__sort
											| Бренд
											span.table__sort-box( :class="sortStyle('brand')" )
									th.table__col.table__head-col Артикул
									th.table__col.table__head-col.table__sort-col( v-on:click="onFilter('status')" )
										.table__sort
											| Статус
											span.table__sort-box( :class="sortStyle('status')" )
									th.table__col.table__head-col( style="width: 122px" )

								tr.table__row( v-for="item in list" :key="item.id" )
									td.table__col.table__row-col.table__col-checkbox
										.custom-checkbox( v-on:click="onSelect(item)" :class="{ 'custom-checkbox_checked': item.selected }" )
											.custom-checkbox__box

									td.table__col.table__row-col.table__col-image
										.table__image 
											picture
												| <source :srcset="'img/'+item.image.replace('.png', '.webp')" type="image/webp" />
												| <img :src="'img/'+item.image" alt="" width="56px" height="74px">
									td( data-title="Наименование" ).table__col.table__row-col {{ item.title }}
									td( data-title="Цена" ).table__col.table__row-col ₴{{ item.price }}
									td.table__col.table__row-col.table__col-brand {{ item.seller }}
									td( data-title="Артикул" ).table__col.table__row-col {{ item.vendor }}
									td( data-title="Статус" ).table__col.table__row-col
										.table__status.table__status_off( v-if="item.status == 'close'" ) Выкл
										.table__status( v-if="item.status == 'open'" ) Вкл
									td( data-title="" ).table__col.table__row-col.table__col-actions
										.table__actions
											a(:href="'product.html#'+item.id").table__action.table__action_view
												svg
													use( xlink:href=sprite('table-eye') )
											a(:href="'product.html#'+item.id").table__action.table__action_edit.table__action_grey
												svg
													use( xlink:href=sprite('table-edit') )


					.account-layout__footer

						.account-layout__actions.selector
							.selector__button( data-toggle="dropdown" :class="actionsStyle" )
								span Действия
								svg.selector__ico
									use( xlink:href=sprite('dropdown-arrow') )
							.selector__dropdown.dropdown-menu
								.dropdown-item( @click="onRemoveSelected" ) Удалить

						.account-layout__pagination.pagination( v-show="pagination.pages > 1" )
							.pagination__pages
								a(href="javascript:void(0)"
									v-on:click="setPage(pagination.active - 1)"
									:class="{ 'pagination__btn_disable': !pagination.prev }").pagination__btn.pagination__prev
									svg
										use( xlink:href=sprite('arrow-slider') )

								a(href="javascript:void(0)"
									v-for="n in pagination.pages"
									v-on:click="setPage(n)"
									:class="{ 'pagination__btn_active': pagination.active == n }").pagination__btn {{ n }}

								a(href="javascript:void(0)"
									v-on:click="setPage(pagination.active + 1)"
									:class="{ 'pagination__btn_disable': !pagination.next }").pagination__btn.pagination__next
									svg
										use( xlink:href=sprite('arrow-slider') )
							a(href="javascript:void(0)"
								v-on:click="setPage(pagination.pages)").pagination__fast-next
								svg
									use( xlink:href=sprite('double-arrow') )