extends layouts/default

block title
    title Catalog

block content
    main.catalog-page#catalog-page

        .container
            .breadcrumbs
                a(href="/").breadcrumbs__item Главная
                a(href="/catalog.html").breadcrumbs__item.breadcrumbs__item_active Женщинам

            h1.catalog-page__title Женщинам

            .catalog-page__tools.tools
                .tools__category
                    span Рубашки
                    svg.tools__icon
                        use(xlink:href=sprite('dropdown-arrow'))
                .tools__filters
                    .tools__filters-wrapper
                        svg.tools__icon
                            use(xlink:href=sprite('filter'))
                        .tools__filter-num 3


        section
            .container.catalog-page__content
                include elements/sidepar
                section.catalog-page__catalog
                    include elements/filters

                    .catalog-page__products
                        each product in productsHomeWoman
                            include components/product

                        each product in productsHomeWoman
                            include components/product

                    include components/pagination

                    section.catalog-page__popular.popular
                        include elements/popular
        section.catalog-page__info
            .container
                p.catalog-page__info-paragraph Женские блузки и рубашки стали неотъемлемой частью гардероба женщины любого возраста.
                    |  В нынешнем сезоне они широко представлены в коллекциях модных домов.
                    |  Этот вид женской одежды популярен и востребован, поскольку подходит и для свободного стиля,
                    |  и для строгого костюма.

                p.catalog-page__info-paragraph Современная деловая женщина, вынужденная пять дней в неделю находиться в офисе, стремится к тому, чтобы,
                    | не выходя из рамок дресс-кода, оставаться женственной, выглядеть эффектно.
                    | Предлагаемое современными дизайнерами невероятное разнообразие фасонов значительно помогает ей в этом.
                    | Среди наиболее популярных:

                p.catalog-page__info-paragraph рубашка с острым воротничком под горло;модель рубашечного кроя со скругленным воротничком;блузы строго кроя,
                    | украшенные такими декоративными элементами, как пуговицы под цвет жемчуга, рюши, жабо.
                    | Модные женские блузки — это один из ключевых видов одежды, которые выгодно подчеркивают выбранный стиль.
                    | В наступающем сезоне мода предлагает активно избавляться от минимализма, порядком всем поднадоевшего,
                    | и вместо традиционного контраста черного и белого выплескивает целый фонтан красок, а также фактур.
