.custom-filters
    .custom-filters__wrapper

        .custom-filters__mobile-title.mobile-title
            | Фильтр
            svg.custom-filters__close
                use(xlink:href=sprite('close'))

        .custom-filters__filter.custom-filter.custom-filter_left-menu(data-filter-items='stock')
            .custom-filter__mobile-title Статус товара:
            .custom-filter__front
                span В наличии
                svg.custom-filter__icon
                    use( xlink:href=sprite('dropdown-arrow') )
            .custom-filter__submenu.custom-submenu.custom-submenu-selector
                .custom-submenu__wrapper
                    .custom-submenu-selector__item.custom-submenu-selector__item_selected(data-filter='1') В наличии
                    .custom-submenu-selector__item(data-filter='2') Под заказ


        .custom-filters__filter.custom-filter(data-filter-brands)
            .custom-filter__mobile-title Выбор Бренда:
            .custom-filter__front
                span Бренд
                svg.custom-filter__icon
                    use( xlink:href=sprite('dropdown-arrow') )
                svg.custom-filter__icon.custom-filter__icon_closer
                    use( xlink:href=sprite('close') )
            .custom-filter__submenu.custom-submenu.custom-submenu-brands
                .custom-submenu__wrapper
                    input(placeholder="Поиск бренда" type="text").custom-submenu__search
                    .custom-submenu__scroll(data-simplebar data-simplebar-auto-hide="false")
                        -var brands = ['Adidas Originals', 'Lazana', 'Camper', 'Patrol', 'LeBerdes', 'Lazana', 'Camper', 'LeBerdes']
                        each brand in brands
                            .custom-submenu__checkbox.custom-checkbox(data-checkbox=brand)
                                .custom-checkbox__box
                                .custom-checkbox__txt #{brand}

                .custom-submenu__btn.custom-submenu__btn_none
                    .btn.btn-primary.custom-filter__apply(data-loader="brands") Применить


        .custom-filters__filter.custom-filter(data-filter-price)
            .custom-filter__mobile-title Диапазон цен:
            .custom-filter__front
                span Цена
                svg.custom-filter__icon
                    use( xlink:href=sprite('dropdown-arrow') )
            .custom-filter__submenu.custom-submenu.custom-submenu-price
                .custom-submenu__wrapper
                    .custom-submenu-price__inputs
                        .custom-submenu-price__input
                            | От
                            input(type='number' value='0' data-price-from)
                        .custom-submenu-price__input
                            | До
                            input(type='number' value='0' data-price-to)
                .custom-submenu__btn
                    .btn.btn-primary.custom-filter__apply(data-price-btn) Применить

        .custom-filters__filter.custom-filter
            .custom-filter__mobile-title Выбор размера:
            .custom-filter__front
                span Размер
                svg.custom-filter__icon
                    use( xlink:href=sprite('dropdown-arrow') )
            .custom-filter__submenu.custom-submenu.custom-submenu-size
                .custom-submenu__wrapper
                    .custom-submenu__title Украинский размер
                    .custom-submenu__scroll(data-simplebar data-simplebar-auto-hide="false")
                        -var size = [42,44,46,48,50,52,54,56,58,60,62]
                        each s in size
                            .custom-submenu__checkbox.custom-checkbox
                                .custom-checkbox__box
                                .custom-checkbox__txt #{s}

                .custom-submenu__btn
                    .btn.btn-primary.custom-filter__apply Применить

        .custom-filters__filter.custom-filter
            .custom-filter__mobile-title Рейтинг продавца:
            .custom-filter__front
                span Рейтинг
                svg.custom-filter__icon
                    use( xlink:href=sprite('dropdown-arrow') )
            .custom-filter__submenu.custom-submenu.custom-submenu-rating
                .custom-submenu__wrapper
                    .custom-submenu__title Рейтинг продавца:
                    .custom-submenu-rating__selector
                        span.custom-submenu-rating__stars.stars
                            svg.custom-submenu-rating__star.stars__star
                                use( xlink:href=sprite('star-filled') )
                            svg.custom-submenu-rating__star.stars__star
                                use( xlink:href=sprite('star-filled') )
                            svg.custom-submenu-rating__star.stars__star
                                use( xlink:href=sprite('star-filled') )
                            svg.custom-submenu-rating__star.stars__star
                                use( xlink:href=sprite('star-filled') )
                            svg.custom-submenu-rating__star.stars__star
                                use( xlink:href=sprite('star') )
                        span.custom-submenu-rating__value 2 и выше

                .custom-submenu__btn
                    .btn.btn-primary.custom-filter__apply Применить

        .custom-filters__filter.custom-filter.custom-filter_right-menu(data-filter-items='sort')
            .custom-filter__front
                span По популярности
                svg.custom-filter__icon
                    use( xlink:href=sprite('dropdown-arrow') )
            .custom-filter__submenu.custom-submenu.custom-submenu-selector
                .custom-submenu__wrapper
                    .custom-submenu-selector__item.custom-submenu-selector__item_selected(data-filter='1') По популярности
                    .custom-submenu-selector__item(data-filter='2') По возрастанию цены
                    .custom-submenu-selector__item(data-filter='3') По убыванию цены
                    .custom-submenu-selector__item(data-filter='4') По новинкам
                    .custom-submenu-selector__item(data-filter='5') По скидкам

        .custom-filters__mobile-apply.mobile-apply
            .mobile-apply__found-products
                | Найдено:
                span  5 товаров
            .mobile-apply__btn
                .btn.btn-primary Применить
