aside.catalog-page__sidebar
    .categories

        .categories__mobile-title.mobile-title
            | Фильтр
            svg.categories__close
                use(xlink:href=sprite('close'))

        .categories__wrapper
            .categories__category.category
                .category__front.category__front_opened
                    .category__title Верхняя одежда
                    .category__icon
                ul.category__submenu
                    li
                        a(href="#").category__item Свитера  <span>(200)</span>
                    li
                        a(href="#").category__item Куртки  <span>(23)</span>
                    li
                        a(href="#").category__item.category__item_active Футболки  <span>(563)</span>
                    li
                        a(href="#").category__item Рубашки  <span>(434)</span>
                    li
                        a(href="#").category__item Майки  <span>(456)</span>

            .categories__category.category
                .category__front
                    .category__title Платья
                    .category__icon
                ul.category__submenu
                    li
                        a(href="#").category__item Свитера  <span>(200)</span>

            .categories__category.category
                .category__front
                    .category__title Обувь
                    .category__icon
                ul.category__submenu
                    li
                        a(href="#").category__item Свитера  <span>(200)</span>

            .categories__category.category
                .category__front
                    .category__title Сумки
                    .category__icon
                ul.category__submenu
                    li
                        a(href="#").category__item Свитера  <span>(200)</span>

            .categories__category.category
                .category__front
                    .category__title Нижнее белье
                    .category__icon
                ul.category__submenu
                    li
                        a(href="#").category__item Свитера  <span>(200)</span>

