doctype html
html
    head
        block title
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet")

        include components/styles
    body

        div
            block header

            block content

        include ../components/footer
        include components/scripts