footer.footer
    .footer__wrapper
        .container.footer__container
            .footer__column.footer__column-main
                a(href="/").footer__logo
                    svg
                        use( xlink:href=sprite('logo-white') )
                p © 2020 Beinua. Все права сохранены.

            .footer__column.footer__column-nav
                nav.footer__nav.footer__nav_pages
                    ul
                        li
                            a(href="/").footer__link Главная
                        li
                            a(href="/catalog.html").footer__link Каталог
                        li
                            a(href="#").footer__link О наc
                        li
                            a(href="#").footer__link Контакты

                nav.footer__nav.footer__nav_info
                    ul
                        li
                            a(href="#").footer__link Условия доставки
                        li
                            a(href="#").footer__link Оплата и возврат
                        li
                            a(href="#").footer__link Дизайнерам
                        li
                            a(href="#").footer__link Публичная оферта

                nav.footer__nav.footer__nav_person
                    ul
                        li
                            a(href="#").footer__link Войти
                        li
                            a(href="/account-seller-home.html").footer__link Личный кабинет
                        li
                            a(href="/account-buyer-orders.html").footer__link Мои заказы
                        li
                            a(href="#").footer__link Избранные товары


            .footer__column.footer__column-contacts
                .footer__contact
                    .footer__contact-name Техническая поддержка
                    a(href="tel: +380981111111").footer__contact-value 380 (98) 111 11 11
                .footer__contact
                    .footer__contact-name Почта
                    a(href="mailto: info@bein.ua").footer__contact-value info@bein.ua
                .footer__contact
                    .footer__contact-name Мы в соц. соетях
                    .footer__contact-media
                        a(href="#").footer__contact-ico
                            svg
                                use( xlink:href=sprite('facebook') )
                        a(href="#").footer__contact-ico
                            svg
                                use( xlink:href=sprite('instagram') )
