.catalog-page__pagination.pagination
    .pagination__pages
        a(href="#").pagination__btn.pagination__prev
            svg
                use( xlink:href=sprite('arrow-slider') )
        a(href="#").pagination__btn 1
        a(href="#").pagination__btn.pagination__btn_active 2
        a(href="#").pagination__btn 3
        a(href="#").pagination__btn.pagination__next
            svg
                use( xlink:href=sprite('arrow-slider') )
    a(href="#").pagination__fast-next
        svg
            use( xlink:href=sprite('double-arrow') )
