.product
    .product__wrapper
        .product__image-box
            if (product.mark == 'new')
                .product__mark.product__mark_new new
            if (product.mark == 'sale')
                .product__mark.product__mark_sale sale
            a(href="/product.html").product__image
                img( src=image(product.image))

            if (productPanelClass)
                .product__panel.product__panel_big
                    a(href="#").product__panel-link
                        svg
                            use( xlink:href=sprite('compare') )
                    a(href="#").product__panel-link
                        svg
                            use( xlink:href=sprite('bag') )
                    a(href="#").product__panel-link.product__panel-link_mobile-top
                        svg
                            use( xlink:href=sprite('heart') )

            if (!productPanelClass)
                .product__panel
                    a(href="#").product__panel-link
                        svg
                            use( xlink:href=sprite('compare') )
                    a(href="#").product__panel-link
                        svg
                            use( xlink:href=sprite('bag') )
                    a(href="#").product__panel-link.product__panel-link_mobile-top
                        svg
                            use( xlink:href=sprite('heart') )

        .product__stock-price
            if (product.stock == 'in')
                .product__stock.product__stock_in-stock В наличии
            if (product.stock == 'out')
                .product__stock.product__stock_out-stock Нет в наличии
            if (product.stock == 'order')
                .product__stock.product__stock_order Под заказ

            .product__price
                if (product.oldPrice)
                    .product__price-old 1 400
                .product__price-now 1 295 грн

        a(href="product.html").product__title Повседневные платья
        a(href="#").product__seller Lazana
        .product__rating
            span Рейтинг продавца:
            span.product__stars.stars
                svg.stars__star
                    use( xlink:href=sprite('star-filled') )
                svg.stars__star
                    use( xlink:href=sprite('star-filled') )
                svg.stars__star
                    use( xlink:href=sprite('star-filled') )
                svg.stars__star
                    use( xlink:href=sprite('star-filled') )
                svg.stars__star
                    use( xlink:href=sprite('star') )

            span.product__rating-num  4.8
